.container {
  max-width: 100%;
}

@media screen and (max-width: 1024px){
  .match_block .match_wrapper .match_top .left .icon, 
  .match_block .match_wrapper .match_bottom .left .icon {
    width: 30px;
    height: 30px;
  }
  .match_block .match_wrapper .match_top .left .team_name, 
  .match_block .match_wrapper .match_bottom .left .team_name {
    font-size: 20px;
  }

  .match_block .match_wrapper .match_top .right, 
  .match_block .match_wrapper .match_bottom .right {
    width: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .match_block .match_wrapper .match_top .left, 
  .match_block .match_wrapper .match_bottom .left {
    align-items: center;
  }
}

@media screen and (max-width: 760px){
  .home_matches_wrapper .home_matches .item .wrapper {
    padding-right: 0;
  }
  .home_matches_wrapper .home_matches .item {
    width: 100%;
    margin: 15px 0;
    padding: 0 15px;
  }
  .home_matches_wrapper .home_matches .item:last-of-type {
    margin-bottom: 35px;
  }
}